include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headdash.pug
  +metadataCourse("Pantallas | "+titles[0],"Ejemplo de creaci칩n de pantallas para el dise침o de p치ginas web","https://monlogo.co/monlogo/landing","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gr치ficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // text
  include ../components/monlogo/landing/_textblog.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur#contact2

  // footer
  include ../base/_footer_notion.pug