include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")
  +metadataCourse("Manual del diseño para programación | "+titles[0],"Ejemplo de manual del diseño para programación de la página de inicio de Monlogo","https://monlogo.co/monlogo/manual-diseno-ui","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // Hero
  include ../components/monlogo/manual_ui/_hero.pug

  // text
  include ../components/monlogo/manual_ui/_textblog.pug

  // footer
  include ../base/_footer_notion.pug