include ../lib/_var.pug
-var words = ["Identidad Gráfica", "Logotipo"]
-var Weight = ["Thin", "Extra-light", "Light", "Regular", "Medium", "Semi-bold", "Bold", "Extra-bold", "Black"]
-var typoManual = ["Ubutu", "Hind"]
-var linkfont = ["https://fonts.google.com/specimen/Ubuntu?sidebar.open&selection.family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700#glyphs", "https://fonts.google.com/specimen/Hind?query=hind&preview.text=Think+Futura+is+a+bit+overused%3F+&preview.text_type=custom&preview.size=43&category=Sans+Serif&selection.family=Hind:wght@300;400;500;600;700&sidebar.open#about"]
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headdash.pug
  +metadataCourse("Manual de la "+services[0]+" | "+titles[0],"Ejemplo de manual de identidad gráfica de Monlogo","https://monlogo.co/monlogo/manual-de-identidad-grafica","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")
  link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap", rel="stylesheet")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // Hero
  include ../components/monlogo/manual_idc/_hero.pug

  // text
  include ../components/monlogo/manual_idc/_textblog.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur#contact2

  // footer
  include ../base/_footer_notion.pug