section.o-hero.-bgCalm
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.a-textAndImg__title #{services[0]}
   h3.a-heroContent__text La #{services[0]} diferencia a tu empresa de la competencia, permitiendo que tus clientes la reconozcan y recuerden en el tiempo. Diseñamos a la medida el logotipo de tu empresa, definimos colores, tipografías, recursos gráficos y sus instrucciones de uso.

  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/identidad_corporativa/idc_hero.png", alt="")
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints