section.o-hero.-bgCalm
 .m-underline.-curve.-shape-bottom
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor", d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z")
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text.-fadeInUp
   .a-heroContent__title
    h1.a-textAndImg__title #{services[0]}
   p.-light.-subtitle La #{services[0]} diferencia a tu empresa de la competencia, permitiendo que tus clientes la reconozcan y recuerden en el tiempo. Diseñamos a la medida el logotipo de tu empresa, definimos colores, tipografías, recursos gráficos y sus instrucciones de uso.

  .m-heroContent__img.-fadeInUp
   .img
    img(src=linksUrl[1]+"assets/img/identidad_corporativa/idc_hero.png", alt="Ilustración de "+services[0])
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints