section.o-packs.-index.-bg.-padBgBottom.-padRgTop
 h2.a-textAndImg__title.a-component__text Nuestros paquetes son:
 .o-packs__content.-ContainerUniversal
  .m-packs__imgBg
   .a-packs__img
    img(src=linksUrl[1]+"assets/img/index/prointelecto_witness.png", alt="")

  .m-packs__cards
   .m-packsbox
    .m-pack
     +pack__hero("Logo y tarjeta de presentación", services[0], "assets/img/identidad_corporativa/img-1.png", "icono")
     .m-pack__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere voluptatibus magni quidem! Neque, voluptatum nobis saepe inventore distinctio consectetur ipsum?
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur

    .m-pack
     +pack__hero("Logo y tarjeta de presentación", services[0], "assets/img/identidad_corporativa/img-1.png", "icono")
     .m-pack__text
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere voluptatibus magni quidem! Neque, voluptatum nobis saepe inventore distinctio consectetur ipsum?
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur
      li.a-packItemList Lorem ipsum dolor sit, amet consectetur