section.o-componentsService.-bg.-padMdTopBottom
 .m-componentsService.-ContainerUniversal
  h2.a-textAndImg__title.a-component__text ¿Qué contiene una #{services[0]} completa?
  .m-components
   +component()
   +component()
   +component()
   +component()