section.o-componentsService.-bg.-padMdTopBottom
 .m-componentsService.-ContainerUniversal
  h2.a-textAndImg__title.a-component__text Diferentes aplicaciones de logotipo
  .m-components
   +component("assets/img/index/prointelecto_witness.png", "Perfil de instagram")
   +component("assets/img/index/prointelecto_witness.png", "Página web")
   +component("assets/img/index/prointelecto_witness.png", "Pestaña de navegar")
   +component("assets/img/index/prointelecto_witness.png", "Impreso")