section.o-textAndImg.-bg.-padBgTop.-padRgBottom
 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/identidad_corporativa/pale-work-at-home.png", alt="")
  .m-textAndImg__content.-left.-padTop
   h2.a-textAndImg__title El mundo se está transformando
   .m-textAndImg__subtitle.-padSmBottom
    .a-arrowWierd
    span.a-textAndImg__subtitleText Cliente: Prointelecto.com
   .a-textAndImg__content
    p La transformación digital pasó de ser algo innovador y moderno a una necesidad no solo para las grandes empresas, ahora también lo es para los pequeños y medianos negocios, organizaciones sin fines de lucro y para cualquier proyecto donde se necesite una presencia en la web.
    p Con el pasar del tiempo se ha disminuido considerablemente el uso de la impresión en papel y está siendo reemplazado por la información digital que actualmente es más accesible para usuarios a través de celulares y servicios de internet cada vez más rápidos.
    p.-padSmBottom En Monlogo estamos enfocados en ayudarte para que hagas la transformación digital de tu empresa y hacerla más accesibles a tus clientes en la web.
    a.a-noMargin.a-button(href=linksUrl[1]+linksInternos[0])
     button.a-btn.-btnSecondary(type="button") Ir a ver el manual
