//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[4],"🌌", "Componentes del website")
     +textNoLinks("🔧", manualNames[4])
    h1.a-text__header #{manualNames[4]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails #{atomic[1]}


  article.m-text__blog
   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Nombre
    .m-text__div
     p Se refiere al nombre que se le dará en el css y a la clase con que identificaremos cada molécula (componente). Para este caso será:
     .-row.a-noMargin
      .-col-12.-dFlex.-jCCenter
       .m-codeCss
        p .m-textAndImg .-textRight

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Descripción
    +breakpoints()
    .m-text__div
     p Estos elementos todos juntos forman una molécula, la cual puede ser utilizada varias veces en diferentes situaciones. Las imágenes de abajo son ejemplos de cómo se ven estas moléculas
     h3.-uppercase.-italic Desktop (breakpoints Xl y Lg)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -LgImg -mAuto","", "", "assets/img/componentes/aboutus.png")

    .m-text__div
     h3.-uppercase.-italic Tablet (breakpoints Md, Sm)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -LgImg -mAuto","", "", "assets/img/componentes/aboutus-1.png")
    
    .m-text__div
     h3.-uppercase.-italic Teléfono (breakpoints Xs, Xxs, X0)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -XsImg -mAuto","", "", "assets/img/componentes/aboutus-2.png")
