.o-components {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    @include mediaQueriesXs {
        padding-top: 0;
    }
}

.m-components__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    @include mediaQueriesLg {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mediaQueriesXs {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $spaceXs 0;
    }
}

.m-component {
    padding: $spaceSm $spaceSm;
    &.-one {
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
    }
    &.-two {
        border-left: 1px solid $color-grey;
        border-top: 1px solid transparent;
    }
    &.-three {
        border-left: 1px solid $color-grey;
        border-top: 1px solid transparent;
    }
    &.-four {
        border-left: 1px solid transparent;
        border-top: 1px solid $color-grey;
    }
    &.-five {
        border-left: 1px solid $color-grey;
        border-top: 1px solid $color-grey;
    }
    &.-six {
        border-left: 1px solid $color-grey;
        border-top: 1px solid $color-grey;
    }
    @include mediaQueriesLg {
        &.-three {
            border-left: 1px solid transparent;
            border-top: 1px solid $color-grey;
        }
        &.-four {
            border-left: 1px solid $color-grey;
        }
        &.-five {
            border-left: 1px solid transparent;
        }
    }
    @include mediaQueriesXs {
        &.-borderNone {
            border: none;
        }
    }
}
.m-component__icon {
    margin: 0 auto;
    width: 100px;
    display: block;
    img {
        max-width: 100%;
    }
}
.m-component__title {
    margin: $spaceXs 0;
    text-align: center;
}

.m-content__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h3 {
        text-align: center;
    }
    .a-categoriestitle__text {
        padding-top: $spaceXs;
        max-width: 76%;
    }
    @include mediaQueriesMd {
        .a-categoriestitle__text {
            max-width: 100%;
        }
    }
}

.m-component__Img {
    width: 100%;
    margin-bottom: $spaceXs;
    img {
        max-width: 100%;
    }
}

h2.a-component__text {
    margin-bottom: 20px;
}

.a-component__text {
    text-align: center;
}