.o-packs {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.o-packs__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    @include mediaQueriesLg {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include mediaQueriesMd {
        flex-direction: column-reverse;
    }
}

.m-packs__cards {
    margin-top: $spaceSm;
    max-width: 66%;
    margin-left: auto;
    @include mediaQueriesMd {
        max-width: 100%;
        margin-left: 0;
    }
}

.a-packs__alt {
    align-items: flex-start;
    max-width: 89%;
    margin-left: auto;
    h3 {
        position: relative;
        &::before {
            margin-right: $spaceXs;
            content: url('../img/icons/arrow_wierd.svg');
        }
    }
    @include mediaQueriesMd {
        margin-left: 0;
        max-width: 100%;
    }
}

.a-packs__img {
    position: absolute;
    max-width: 38%;
    left: $spaceSm;
    img {
        width: 100%;
    }
    @include mediaQueriesMd {
        margin-top: $spaceSm;
        position: relative;
        max-width: 100%;
        left: 0;
    }
    @include mediaQueriesXs {
        margin-top: $spaceRg;
    }
}

.m-packsbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: $spaceRg;
    @include mediaQueriesLg {
        flex-wrap: wrap;
    }
    @include mediaQueriesMd {
        margin-top: 0;
    }
}

.m-pack {
    box-shadow: 6px 6px $color-alert;
    border: 1px solid $color-primary;
    width: 284px;
    height: auto;
    margin: $spaceSm;
    text-align: left;
    opacity: 0;
    display: inline-block;
    padding: 25px $spaceSm $spaceXs;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    top: 60px;
    z-index: 10;
    background-color: $color-lightin;
    background-repeat: no-repeat;
    animation-name: Upbox;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.15, 1, 0.33, 1);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    &:hover {
        transform: translateY(-2px);
        text-decoration: none;
    }
    &:last-child {
        margin-right: 0;
    }
    &__hero {
        display: flex;
    }
    &__title {
        color: $color-primary;
        h3 {
            padding-bottom: $spaceXs;
            font-weight: 600;
        }
    }
    &__img {
        margin-left: auto;
        &.-smaller {
            max-width: 60px;
        }
        &.-normal {
            max-width: 130px;
        }
        img {
            width: 100%;
        }
    }
    @include mediaQueriesSm {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $spaceSm;
    }
}

.m-pack__text {
    margin-bottom: $spaceSm;
}

@keyframes Upbox {
    0% {
        top: 60px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.m-text__alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spaceSm;
    border-radius: 4px;
    background-color: $color-lightin;
    box-shadow: 6px 6px $color-alert;
    border: 1px solid $color-primary;
    margin-bottom: $spaceRg;
    max-width: 80%;
    margin: $spaceSm auto 0 auto;
    .a-text__alert {
        margin-right: $spaceXs;
    }
    .-iconAlerts {
        position: relative;
        top: -3px;
        font-size: 20px;
    }
    @include mediaQueriesXs {
        max-width: 92%;
    }
}