.o-categories {
    position: relative;
    @include mediaQueriesMd {
        padding-bottom: $spaceBg;
    }
}

.m-categoriesTitle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .a-categoriestitle__text {
        padding-top: 6px;
        max-width: 66%;
    }
    &__title {
        color: $color-primary;
    }
    @include mediaQueriesLg {
        .a-categoriestitle__text {
            max-width: 70%;
        }
    }
    @include mediaQueriesMd {
        max-width: 86%;
        .a-categoriestitle__text {
            max-width: 99%;
        }
    }
}