// .-index
.o-hero {
    position: relative;
    padding-top: 38px;
    padding-bottom: $spaceRg;
    @include mediaQueriesMd {
        padding-top: $spaceRg;
        padding-bottom: $spaceSm;
    }
}

.m-heroContent {
    display: grid;
    grid-template-columns: 48% auto;
    grid-template-areas: "textHero imgHero";
    grid-gap: $spaceSm;
    @include mediaQueriesMd {
        grid-template-rows: 1fr auto;
        grid-template-columns: auto;
        grid-template-areas: "textHero" "imgHero";
        justify-content: center;
    }
}

.m-heroContent__text {
    grid-area: textHero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spaceSm;
    @include mediaQueriesLg {
        padding-left: 0;
    }
}
.a-heroContent__title {
    padding-bottom: $spaceXs;
    h1 {
        color: $color-primary;
    }
    @include mediaQueriesMd {
        h1 {
            text-align: center;
        }
    }
}

.m-heroContent__img {
    grid-area: imgHero;
    margin: auto;
    position: relative;
    img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}

.m-underline {
    color: $bg;
    position: absolute;
    overflow: hidden;
    transform: translateZ(0);
    z-index: 2;
    right: 0;
    &.-shapeBottom {
        width: 100%;
        left: 0;
        bottom: 0;
        margin-bottom: -1px;
    }
    &.-shapeLine {
        min-height: 19px;
    }
    svg {
        display: block;
        fill: $bg;
        pointer-events: none;
        overflow: hidden;
    }
}