// .-index
.o-hero {
    position: relative;
    padding-top: 38px;
    padding-bottom: $spaceRg;
    @include mediaQueriesMd {
        padding-top: $spaceSm;
        padding-bottom: $spaceSm;
    }
}

.m-heroContent {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "textHero" "imgHero";
    @include mediaQueriesMd {
        grid-template-columns: 86%;
        grid-template-rows: 1fr auto;
        grid-template-areas: "textHero" "imgHero";
        justify-content: center;
    }
    @include mediaQueriesXs {
        grid-template-columns: 100%;
    }
}



.m-heroContent__text {
    grid-area: textHero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spaceSm;
    @include mediaQueriesLg {
        padding-left: 0;
    }
}
.a-heroContent__title {
    padding-bottom: $spaceXs;
    h1 {
        color: $color-primary;
    }
    h1.-alert {
        color: $color-lightin;
    }
    @include mediaQueriesXs {
        h1 {
            text-align: center;
        }
    }
}

.a-heroContent__text {
    max-width: 76%;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.27;
}

// .a-heroContent__button


.a-mailchimpGroup {
    margin-right: $spaceXs;
    @include mediaQueriesXxs {
        margin-right: 8px;
    }
}
.a-mailchimpMail {
    border-radius: $spaceRg;
    border: 2px solid $color-primary;
    padding-top: 5px;
    padding-left: $spaceXs;
    padding-right: $spaceXs;
    &:focus {
        outline: none;
        border-color: $color-secondary;
    }
    @include mediaQueriesXs {
        width: 190px;
        padding-right: 5px;
        padding-left: 8px;
    }
}

.m-heroContent__img {
    grid-area: imgHero;
    margin: auto;
    position: relative;
    img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}
