h1, h2, h3, p, small, i, span, ol, li, ul, a, input {
    font-family: $font1;
    color: $color-darkgrey;
    line-height: 1.35;
}

// Titles
h1 {
    font-family: $font1;
    font-size: $fontS5;
    font-weight: bold;
    @include mediaQueriesMd {
        font-size: $fontSM4;
    }
    @include mediaQueries0 {
        font-size: $font03;
    }
}

h2 {
    font-family: $font1;
    font-weight: bold;
    font-size: $fontS4;
    @include mediaQueriesMd {
        font-size: $fontSM3;
    }
    @include mediaQueries0 {
        font-size: $font02;
    }
}

h3 {
    font-family: $font1;
    font-weight: 500;
    font-size: $fontS3;
    @include mediaQueriesLg {
        font-size: $fontSM2;
    }
    @include mediaQueries0 {
        font-size: $font01;
    }
}

// Paragraph
p, i, ol, li {
    font-size: $fontS2;
    font-weight: normal;
    @include mediaQueriesLg {
        line-height: 1.6;
    }
    @include mediaQueriesMd {
        line-height: 1.4;
        font-size: $fontSM2;
    }
}

small, span {
    font-family: $font2;
    font-size: $fontS1;
}



// List
ol {
    padding: 0;
}
li {
    list-style: none;
}

.-counterContainer ol {
    counter-reset: myCounter;
}

.m-listContent {
    position: relative;
    // margin-left: $spaceXs;
    &.-arrow li {
        list-style: none;
        margin-left: $spaceSm;
        &::before {
            display: block;
            width: 18px;
            position: absolute;
            left: 0;
            margin: 2px 5px 0;
            content: url('../img/icons/arrow_right@0.5.svg');
        }
    }
    &.-check li {
        list-style: none;
        margin-left: 25px;
        &::before {
            display: block;
            width: 20px;
            position: absolute;
            left: $spaceXs;
            content: url('../img/icons/arrow_right.svg');
        }
    }
    &.-counter li {
        list-style: none;
        margin-left: $spaceSm;
        &::before {
            width: 22px;
            height: 22px;
            // margin: 2px 10px;
            display: block;
            position: absolute;
            left: -5px;
            counter-increment: myCounter;
            content: counter(myCounter);
            border-radius: 50%;
            font-size: $fontS1;
            color: $color-lightin;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            transition: all .2s;
            background-color: $color-secondary;
        }
    }
}
.m-linksList {
    padding-left: 0;
   /*  li {
        margin-bottom: $spaceXs;
    } */
    a {
        padding: 4px $spaceXs 4px $spaceXs;
        border-radius: 4px;
        transition: background 120ms ease-in 0s;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    a:hover {
        background: $color-lightgrey;
        color: $color-darkengrey;
    }
}
.m-listFooter {
    position: relative;
    li {
        list-style: none;
        margin-bottom: 3px;
    }
}

// Styles
.-uppercase {
    text-transform: uppercase;
}
.-textRight {
    text-align: right;
}
.-textCenter {
    text-align: center;
}
.-black {
    font-weight: 900;
}
.-extraBold {
    font-weight: 800;
}
.-bold {
    font-weight: 700;
}
.-semiBold {
    font-weight: 600;
}
.-medium {
    font-weight: 500;
}
.-regular {
    font-weight: 400;
}
.-light {
    font-weight: 300;
}
.-extraLight {
    font-weight: 200;
}
.-thin {
    font-weight: 100;
}
.-italic {
    font-style: italic;
}
.-center {
    text-align: center;
}

// color
.-colorPrimary {
    color: $color-primary;
}
.-colorSecondary {
    color: $color-secondary;
}
.-colorAlert {
    color: $color-alert;
}

article p {
    padding-bottom: $spaceSm;
    &:last-child {
        padding-bottom: 0;
    }
}