section.o-hero.-bgCalm
 .m-underline.-curve.-shape-bottom
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor", d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z")
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text.-fadeInUp
   .a-heroContent__title
    h1.a-textAndImg__title #{services[2]}
   p.-light.-subtitle El Diseño de las páginas de tu sitio web se programa en códigos HTML, CSS y JS. Todo el diseño se pasa a código: la estructura, íconos, botones, colores, fuentes y tamaños. Se programa la navegación e interacción con los usuarios, un posicionamiento óptimo en los buscadores y la compatibilidad con todos los navegadores.
 
  .m-heroContent__img.-fadeInUp
   .img
    img(src=linksUrl[1]+"assets/img/programacion_web/web_hero.png", alt="Ilustración de programación de css y html")
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints