section.o-hero.-bgCalm
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.a-textAndImg__title #{services[0]}
   h3.a-heroContent__text La #{services[0]} diferencia a tu empresa de la competencia, permitiendo a tus clientes la recuerden y reconozcan en el tiempo. Los signos y elementos distintivos que desarrollamos en este servicio son para ser utilizados en aplicaciones digitales y para impreso de papelería.

  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/identidad_corporativa/idc_hero.png", alt="")
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints