section.o-packs.-index.-bg.-padBgBottom.-padSmTop
 .-ContainerUniversal
  h2.a-textAndImg__title.a-component__text Elige un paquete e inicia tu transformaci칩n digital
 .o-packs__content.-ContainerUniversal
  .m-packs__imgBg
   .a-packs__img
    img(src=linksUrl[1]+"assets/img/programacion_web/mockup_web_01.png", alt="Mockup de p치gina web del cliente yogaiskra")
    .a-packs__alt.-dFlex.-padSmTop.-textRight
     h3 Web multi-p치ginas #[a.-colorAlert.-medium(href="https://yogaiskra.com/", target="_blank") yogaiskra.com]

  .m-packs__cards
   .m-packsbox
    .m-pack
     +pack__hero("Web p치gina 칰nica", "B치sico", "assets/img/icons/web_pack_1.svg", "-smaller")
     .m-pack__text
      p P치gina web 칰nica en donde de una forma sencilla y muy atractiva para el visitante se explica qui칠n eres, qu칠 vendes, d칩nde est치s y las formas de contacto y redes sociales.
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Programaci칩n de 1 p치gina
      li.a-packItemList Hospedaje por 1 a침o
      li.a-packItemList Verificaci칩n de disponibilidad de dominio

    .m-pack
     +pack__hero("Web multi-p치ginas", "Profesional", "assets/img/icons/web_pack_2.svg", "-smaller")
     .m-pack__text
      p Programaci칩n de un sitio web profesional que incluye incluye 1 p치gina de inicio y 3 p치ginas complementarias para productos, servicios o lo que requieras.
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Programaci칩n de 4 p치ginas
      li.a-packItemList Hospedaje por 1 a침o
      li.a-packItemList Verificaci칩n de disponibilidad de dominio

   .m-text__alert
    .a-text__alert #[span.-iconAlerts 游눠]
    .m-text__warning
     p Las p치ginas adicionales al paquete seleccionado se cotizar치n por separado.
