section.o-components.-bgCalm.-padBgBottom.-padSmTop
 .m-underline.-curve.-shapeTop
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor",d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z")
 
 .m-content__title.-ContainerUniversal.-mXsBottom.-padMdTop
  h2.a-textAndImg__title Lo que recibirás con este servicio
  h3.a-categoriestitle__text El servicio de programación te proporciona lo siguiente:
 
 .m-components__content.-mSmTop.-padXsTop.-ContainerUniversal
  .m-component.-one.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_12.svg","Programación","")
   ol.m-pack__list.m-listContent.-check.a-noMargin
    li.a-packItemList En códigos HTML5, CSS3 y Javascript.
    li.a-packItemList De diseño, navegación e interacción.
    li.a-packItemList Responsive para laptop, tableta y teléfono.
    li.a-packItemList Hospedaje por 1 año.
    li.a-packItemList Compatibilidad con todos los navegadores y posicionamiento óptimo en buscadores,

  .m-component.-two.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_14.svg","Textos y gráficos","")
   ol.m-pack__list.m-listContent.-check.a-noMargin
    li.a-packItemList Revisión y corrección gramatical y ortográfica de textos.
    li.a-packItemList Edición de imágenes en tamaños y formatos adecuados para cada página web.
    li.a-packItemList Inclusión y transformación de Ilustraciones e íconos livianos para carga rápida.

  .m-component.-three.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_13.svg","Dominio y Hospedaje","")
   ol.m-pack__list.m-listContent.-check.a-noMargin
    li.a-packItemList Verificación de disponibilidad de dominio.
    li.a-packItemList Gestión de compra del dominio.
    li.a-packItemList Intermediación como contactos administrativo y técnico ante la empresa de registro.
    li.a-packItemList Hospedaje por 1 año.
