section.o-components.-bg.-padBgBottom.-padSmTop
 .m-content__title.-ContainerUniversal.-mXsBottom
  h2.a-textAndImg__title Por qué nuestra programación es tan completa
  h3.a-categoriestitle__text Nuestro servicio de programación está a la altura de los mejores porque contempla todos estos aspectos
 .m-components__content.-mSmTop.-padXsTop.-ContainerUniversal
  .m-component.-one.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_1.svg","Estructura","Distribución de los elementos y componentes de las páginas del sitio web incluyendo colores, los textos y espaciados, de acuerdo al diseño UI para las pantallas de los diferentes dispositivos.")
  .m-component.-two.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_2.svg","Textos","Creación de textos con la información e ideas suministradas por el cliente. Labor editorial y de redacción para los espacios disponibles, revisión de gramática y ortografía.")
  .m-component.-three.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_4.svg","Edición de imágenes","Edición de imágenes en tamaños y formatos adecuados para cada página web, tanto de las imágenes que aporta el cliente como las que elijamos de stock.")
  .m-component.-four.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_5.svg","Ilustración & Iconos","Inclusión de acuerdo al diseño, de Ilustraciones e íconos, en formatos livianos para carga rápida y programación de comportamiento de acuerdo a los previsto en el diseño.")
  .m-component.-five.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_3.svg","Código","Contenidos programados en código HTML5, CSS3 y JS. Empleo de lenguajes preprocesados de PUG y Sass para codificar, lo que facilita los cambios de forma rápidas.")
  .m-component.-six.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_6.svg","Metadata + SEO","Programación de la Metadata de las páginas web para obtener un óptimo posicionamiento en los buscadores, ya que así estos identifican los temas principales de cada página.")