section.o-tabs.-bg.-padBgBottom.-padBgTop
 .m-tabs__header.-ContainerUniversal
  .-row
    .-col-5.-pRelative
     .m-tabs__img
      img.a-tabs__img(src=linksUrl[1]+"assets/img/programacion_web/web_img_02.png", alt="Ilustración del personaje de monlogo con Servers de hosting")
    .-col-7.-pRelative.m-tabs__text
     h2.-mXsBottom.-colorPrimary Nombre de Dominio y Hospedaje
     p#topic-1 Para que tu página web esté en linea a través de Internet y pueda ser visitada desde cualquier parte del mundo necesitas un Nombre de dominio propio y un servicio de Hospedaje.
 .m-tabs__content.-ContainerUniversal.-mXsTop
  nav.m-tabs__nav
   .m-tabs__item.-isActiveTab(onclick="mostrarPestana(0)") #[.a-search.-icon] Nombre de Dominio
   h3.m-tabs__item(onclick="mostrarPestana(1)") #[.a-database.-icon] Hospedaje web
  .m-tabs__container
   .m-tabs__topic.-isActiveTab#topic-1
    h3.-subtitle.-colorSecondary.-mSmSmBottom ¿Qué es un Nombre de Dominio?
    .-row.a-noMargin
     .m-tabs__div.-col-6.-pad0Left.a-textAndImg__content.-mSmSmBottom
      p Un nombre de dominio (a menudo denominado simplemente dominio) es un nombre fácil de recordar asociado a una dirección IP física, que es numérica, en un computador tipo servidor que está conectado las 24 horas a Internet.  Es la dirección exacta que deben ingresar los usuarios en el navegador para poder visualizarla.
      p Se trata de un nombre único que se muestra después de #[b.-medium.-italic www.] en las direcciones web. Por ejemplo: #[b.-medium.-italic google.com] y #[b.-medium.-italic wikipedia.org.] Al utilizar un nombre de dominio en lugar de una dirección IP numérica para identificar una ubicación en Internet, es mucho más fácil de recordar y escribir.
     .m-tabs__div.-col-6.-pad0Rigth.a-textAndImg__content
      p Si no tienes registrado un nombre dominio, con nuestros paquetes de programación está incluida la verificación de la disponibilidad del dominio en que estés interesado y la gestión de su registro.
      p El costo del registro lo pagas tú, se paga anualmente y el monto va a depender del dominio que se esté registrando, que puede variar entre $9 y miles de dolares al año.

   .m-tabs__topic#topic-2
    h3.-subtitle.-colorSecondary.-mSmSmBottom Hospedaje de la página web
    .-row.a-noMargin
     .m-tabs__div.-col-6.-pad0Left.-mSmSmBottom
      p Hospedaje o hosting se entiende como el sitio en donde se guardan todos los archivos que componen el diseño y desarrollo de la página web. Es el sitio o servidor en donde se guarda y actualiza la información constantemente y al que accede cualquier usuario cuando ingresa en un navegador el nombre de dominio de la página o sitio web. Estos servidores son manejados por empresas especializadas para dar este servicio ubicadas en diferentes partes del mundo.
     .m-tabs__div.-col-6.-pad0Rigth
      p Con nuestros paquetes de programación está incluido el Hospedaje de tu pagina web por 1 año. Esto incluye la instalación de tu página web en el hospedaje y a través del control panel la creación de las cuentas de correo electrónico que solicites asociadas a tu dominio.