section.o-textAndImg.-bg.-padRgTop.-padRgBottom
 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/programacion_web/web_img_01.png", alt="Ilustración de SEO (search engine optimization)")
  .m-textAndImg__content.-left.-padTop
   h2.a-textAndImg__title Páginas Web Responsives
   .m-textAndImg__subtitle.-padSmBottom
    .a-arrowWierd
    span.a-textAndImg__subtitleText Adaptables a pantallas de diferentes dispositivos
   .a-textAndImg__content
    p La programación "responsive" garantiza la correcta visualización y lectura de las páginas web en los dispositivos móviles. Esto es cada vez más importante ya que día a día aumenta el número de personas que acceden a Internet desde sus teléfonos. Las páginas web que programamos en Monlogo se adaptan perfectamente a pantallas de computadores, tablets y teléfonos.
    p.-padSmBottom Nuestro compromiso es a largo plazo, no solo te apoyamos en la transformación digital de tu negocio, después de que hayamos programado tu sitio web, podrás contar siempre con nosotros. Te ayudaremos con cualquier petición posterior, actualización y mantenimiento, cambios, modificaciones, nuevas páginas,  migración de hospedaje, etc.