section.o-hero.-bgCalm
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1.a-textAndImg__title #{services[1]}
   h3.a-heroContent__text Basados en la #{services[0]} de tu negocio diseñamos la interfaz de usuario (UI) de tu página web para que luzca impactante, sea intuitiva, de fácil navegación e interacción. Perfectamente adaptable a computadoras, móviles y tabletas. No incluye programación.

  .m-heroContent__img
   .img
    img(src=linksUrl[1]+"assets/img/diseno_web/dpw_hero.png")
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints