section.o-hero.-bgCalm
 .m-underline.-curve.-shape-bottom
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor", d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z")
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text.-fadeInUp
   .a-heroContent__title
    h1.a-textAndImg__title #{services[1]}
   h3.a-heroContent__text Basados en la #{services[0]} de tu negocio diseñamos la interfaz de usuario (UI) de tu página web, con iconos e ilustraciones personalizadas, para que luzca impactante, sea intuitiva y de fácil navegación.  Adaptable a computadoras, tablets y teléfonos. No incluye programación.

  .m-heroContent__img.-fadeInUp
   .img
    img(src=linksUrl[1]+"assets/img/diseno_web/dpw_hero.png", alt="Ilustración de Diseño de interfaz de usuario de pantallas")
 
 .m-heroContent__dec
  .a-squarePoints
  .a-squarePoints