section.o-packs.-index.-bg.-padBgBottom.-padSmTop
 .-ContainerUniversal
  h2.a-textAndImg__title.a-component__text Elige un paquete e inicia tu transformación digital
 .o-packs__content.-ContainerUniversal
  .m-packs__imgBg
   .a-packs__img
    img#imgPantallas(src=linksUrl[1]+"assets/img/diseno_web/mockup_dpw_pack.png", alt="Mockup de manual y los diseños de las pantallas")
    .a-packs__alt.-dFlex.-padSmTop.-textRight
     h3 Ir a #[a.-colorAlert.-medium(href=monlogoInternos[18]) ver las pantallas]

  .m-packs__cards
   .m-packsbox
    .m-pack
     +pack__hero("Diseño web de página única", "Single Page Web", "assets/img/icons/dweb_pack_1.svg", "-smaller")
     .m-pack__text
      p Una página única como una tarjeta de presentación en donde tus clientes capten rápidamente lo que ofreces y cómo contactarte.
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Pantallas de 1 página para 3 dispositivos
      li.a-packItemList De 5 a 10 íconos personalizados
      li.a-packItemList De 2 a 3 Ilustraciones personalizadas o fotos
      li.a-packItemList Manual del diseño para programación

    .m-pack
     +pack__hero("Diseño web de multi-páginas", "Multi-página web", "assets/img/icons/dweb_pack_2.svg", "-smaller")
     .m-pack__text
      p Incluye 1 página principal y 3 páginas complementarias.
     ol.m-pack__list.m-listContent.-check
      li.a-packItemList Pantallas de 4 páginas para 3 dispositivos
      li.a-packItemList De 5 a 10 íconos personalizados por página
      li.a-packItemList De 2 a 3 Ilustraciones personalizadas o fotos por página
      li.a-packItemList Manual del diseño para programación