section.o-components.-bgCalm.-padBgBottom.-padSmTop
 .m-underline.-curve.-shapeTop
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor",d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z")
 
 .m-content__title.-ContainerUniversal.-mXsBottom.-padMdTop
  h2.a-textAndImg__title Conoce los formatos que entregamos
  h3.a-categoriestitle__text Al finalizar el servicio te entregaremos lo siguiente:
 .m-components__content.-mSmTop.-padXsTop.-ContainerUniversal
  .m-component.-one.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_10.svg","Diseño de pantallas","Los diseños y el mapa del sitio se entregan en los siguientes formatos:")
   ol.m-pack__list.m-listContent.-check.-padSmTop.a-noMargin
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted PNG] formato gráfico comprimido que permite almacenar imágenes con una mayor profundidad de contraste.
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted Xd] archivo vectorial editable del programa Adobe XD para poder modificar el proyecto.
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted PDF] archivo imprimible en cualquier tamaño y material.

  .m-component.-two.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_5.svg","Elementos gráficos","Los ìconos, ilustraciones y fotos se entregan en los siguientes formatos:")
   ol.m-pack__list.m-listContent.-check.-padSmTop.a-noMargin
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted PNG] formato gráfico comprimido que permite almacenar imágenes con una mayor profundidad de contraste.
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted SVG] formato gráficos vectoriales bidimensionales ideales para su uso en Internet.

  .m-component.-three.-borderNone.-fadeInUp
   +card__thing(linksUrl[1]+"assets/img/icons/web_stuff_11.svg","Manual del programdor","Se facilita un acceso al Manual del diseño para la programación en formato de:")
   ol.m-pack__list.m-listContent.-check.-padSmTop.a-noMargin
    li.a-packItemList #[b.-colorPrimary.-medium.-dotted Página web] hospedada en el área del cliente en el sitio web de Monlogo, en donde estarán las instrucciones para el programador y los componentes del diseño.
