section.o-textAndImg.-bg.-padRgTop.-padRgBottom
 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/identidad_corporativa/idc_img_01.png")
  .m-textAndImg__content.-left.-padTop
   h2.a-textAndImg__title Manual de #{services[0]}
   .m-textAndImg__subtitle.-padSmBottom
    .a-arrowWierd
    span.a-textAndImg__subtitleText La transformación digital pasó de ser algo esencial
   .a-textAndImg__content
    p El Manual de #{services[0]} da las normas para el uso correcto de los signos y elementos distintivos desarrollados para sitios web, imágenes publicitaria, redes sociales, así como para la impresión de papelería.
    p.-padSmBottom Aquí podrás encontrar el logotipo, la paleta de colores, área de seguridad y reducibilidad, las tipografías, así como la manera que éstos se componen, la forma debida de utilizar el logotipo y cuáles son sus aplicaciones correctas, también los recursos gráficos y banner.

    a.a-noMargin.a-button(href=monlogoInternos[1])
     button.a-btn.-btnSecondary(type="button") Ir a ver el manual
