section.o-textAndImg.-bg.-padRgTop.-padRgBottom
 .m-underline.-curve.-shapeTop
  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 3000 185.4")
   path(fill="currentColor",d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z")

 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/diseno_web/dpw_img_01.png", alt="Ilustración de las pantallas que se diseñan para una página")
  .m-textAndImg__content.-left.-padTop
   h2.a-textAndImg__title Manual del diseño para programación
   .m-textAndImg__subtitle.-padSmBottom
    .a-arrowWierd
    span.a-textAndImg__subtitleText Diseño de interfaz de usuario (UI)
   .a-textAndImg__content
    p El Manual del Diseño para Programación es donde se presentan y especifican las fundaciones, variables y componentes del diseño necesarias para la programación del sitio web del cliente.
    p.-mXsBottom Para cada página se diseñan 3 pantallas que corresponden a las versiones de laptop, tablet y móvil.  De esta manera la estructura y distribución de los elementos se configuran de acuerdo al dispositivo en el que se va a visualizar el sitio web.

    a.a-noMargin.a-button(href=monlogoInternos[1])
     button.a-btn.-btnSecondary(type="button") Ver manual
