.o-footerContent.-padSmTopBottom
 .m-footer.-ContainerUniversal
  .m-footer__logo
   img(src=linksUrl[1]+logoResponsive[0], alt="")
  .m-footer__us
   p Copyright © 2020 Prointelecto
  .m-footer__course
   h3 #{titles[3]}
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"", "Iniciación en el Ashtanga Yoga")
    +footerLink(linksUrl[1]+linksInternos[0],"", "Encendiendo el fuego interno")
    +footerLink(linksUrl[1]+linksInternos[0],"", "Fluyendo y depurando la base")
    +footerLink(linksUrl[1]+linksInternos[0],"", "Integrando y sellando la energía")
  .m-footer__article
   h3 #{titles[0]}
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"", "Podemos mejorar y ayudar")
    +footerLink(linksUrl[1]+linksInternos[0],"", "Sobre el Ashtanga Yoga")
  .m-footer__subs
   h3 Subscríbete a nuestro newsletter
   +mailChimp("-footer", "", "-footer", "-btnFooter -btnMonlogo")

 .a-border.-ContainerBlog
  .-borderBottom
