.o-footerContent.-padSmTopBottom
 .m-footer.-ContainerUniversal
  .m-footer__logo
   img(src=linksUrl[1]+logoResponsive[0], alt="")
  .m-footer__us
   p Copyright © 2020 Monlogo
   .a-footerIcons
    a.a-itemLink(href=linksExternos[0]): .a-instagram
    a.a-itemLink(href="mailto:"+linksExternos[1]): .a-mailFooter
  .m-footer__course
   h3 #{titles[2]}
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[1],"-colorAlert -medium", services[0])
    +footerLink(linksUrl[1]+linksInternos[2],"-colorAlert -medium", services[1])
    +footerLink(linksUrl[1]+linksInternos[3],"-colorAlert -medium", services[2])
    //- +footerLink(linksUrl[1]+linksInternos[0],"", titles[5])
  .m-footer__article
   h3 Recursos
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"-colorAlert -medium", "Promotores")
    +footerLink(linksUrl[1]+linksInternos[0],"-colorAlert -medium", "Programadores")
  .m-footer__subs
   h3 Subscríbete a nuestro newsletter
   +mailChimp("-footer", "", "-footer", "-btnFooter -btnMonlogo")

 .a-border.-ContainerBlog
  .-borderBottom
