.o-footerContent.-padSmTopBottom
 .m-footer.-ContainerUniversal
  .m-footer__logo
   img(src=linksUrl[1]+logoResponsive[0], alt="")
  .m-footer__us
   p Copyright © 2020 Monlogo
   .a-footerIcons
    a.a-itemLink(href=linksUrl[1]+linksInternos[0]): .a-instagram
    a.a-itemLink(href=linksUrl[1]+linksInternos[0]): .a-mailFooter
  .m-footer__course
   h3 Compañia
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"", titles[1])
    +footerLink(linksUrl[1]+linksInternos[0],"", titles[2])
    +footerLink(linksUrl[1]+linksInternos[0],"", titles[3])
    +footerLink(linksUrl[1]+linksInternos[0],"", titles[5])
  .m-footer__article
   h3 Recursos
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"", "Promotores")
    +footerLink(linksUrl[1]+linksInternos[0],"", "Programadores")
  .m-footer__subs
   h3 Subscríbete a nuestro newsletter
   +mailChimp("-footer", "", "-footer", "-btnFooter -btnMonlogo")

 .a-border.-ContainerBlog
  .-borderBottom
