section.o-problemStory.-bgWow.-padMdTopBottom
 .o-problemStory__contentRight.-ContainerUniversal
  .m-problemImg
   img(src=linksUrl[1]+"assets/img/index/doodle_us_rev1.png", alt="")
  .m-problemContent
   .a-problemIcon
    img(src=linksUrl[1]+"assets/img/icons/talk_wierd.svg", alt="")
   h2.a-problemTitle Compartiendo enseñanzas y técnicas
   .a-problemSubtitle
    span.a-problemSubtitle__text Yoga, filosofía y métodos
    .a-problemSubtitle__line.-right
   .a-problemContent
    p Todos los seres humanos anhelamos experimentar bienestar y no sufrir. He comprobado que el estudio y la práctica consistentes del yoga y otras técnicas, generan bienestar continuo, disminuyen el sufrimiento y aumentan nuestro interés por ayudar a otros.
    p Quiero compartir y enseñar a muchas más personas, sin que el distanciamiento físico o el factor económico sea un impedimento, y lo haré a través de este sitio web y sus canales relacionados. Todo este contenido será soportado por las donaciones y el apoyo de quienes quieran y puedan aportar.
