section.o-aboutUs.-bgWow.-padMdTopBottom
 .o-textAndImg__contentRight.-ContainerUniversal
  .m-textAndImg__img
   img(src=linksUrl[1]+"assets/img/index/doodle_us_rev1.png", alt="")
  .m-textAndImg__content
   .a-textAndImg__icon
    img(src=linksUrl[1]+"assets/img/icons/world.svg", alt="")
   h2.a-textAndImg__title Compartiendo enseñanzas y técnicas
   .a-textAndImg__content
    p Todos los seres humanos anhelamos experimentar bienestar y no sufrir. He comprobado que el estudio y la práctica consistentes del yoga y otras técnicas, generan bienestar continuo, disminuyen el sufrimiento y aumentan nuestro interés por ayudar a otros.
    p.-padSmBottom Quiero compartir y enseñar a muchas más personas, sin que el distanciamiento físico o el factor económico sea un impedimento, y lo haré a través de este sitio web y sus canales relacionados. Todo este contenido será soportado por las donaciones y el apoyo de quienes quieran y puedan aportar.
    a.a-noMargin.a-button(href=linksUrl[1]+linksInternos[0])
     button.a-btn.-btnSecondary(type="button") Ir a ver

 .o-textAndImg__dec
  .a-squarePoints
  .a-circleLines