section.o-aboutUs.-bgWow.-padMdTopBottom
 .o-textAndImg__contentRight.-ContainerUniversal
  .m-textAndImg__img
   img(src=linksUrl[1]+"assets/img/index/doodle_us_rev1.png", alt="")
  .m-textAndImg__content.-padTop
   .a-textAndImg__icon
    img(src=linksUrl[1]+"assets/img/icons/world.svg", alt="")
   h2.a-textAndImg__title El mundo se está transformando
   .a-textAndImg__content
    p La transformación digital pasó de ser algo innovador y moderno a una necesidad no solo para las grandes empresas, sino también para la pequeñas y medianas empresas, organizaciones sin fines de lucro y de cualquier proyecto donde se necesite una presencia en la web.
    p Con el pasar del tiempo se ha disminuido considerablemente el uso de la impresión en papel y está siendo reemplazado por la información digital que actualmente es más accesible para usuarios a través de celulares y servicios de internet cada vez más rápido.
    p.-padSmBottom Monlogo estamos enfocados en iniciar la transformación digital de tu empresa y hacerla más accesibles a tus clientes en la web.
    a.a-noMargin.a-button(href=linksUrl[1]+linksInternos[0])
     button.a-btn.-btnSecondary(type="button") Ir a ver

 .o-textAndImg__dec
  .a-squarePoints
  .a-circleLines