section.o-categories.-bg.-padRgTopBottom.-padBgBottom
 .m-cardContent
  .m-categoriesTitle
   h2.m-categoriesTitle__title Inicia la transformación digital de tu negocio
   h3.a-categoriestitle__text Para llevar tu negocio al mundo digital, desarrollar los tres pilares de la Transformación Digital es fundamental. Los 3 pilares son: la Identidad corporativa, el Diseño de página web y la Programación web.
  .m-cardBox.m-categories
   +boxCourse(linksUrl[1]+linksInternos[1], "assets/img/index/img_identidad_corporativa.png", "Ilustración de "+services[0], services[0], "Distintiva y memorable", "Diseñaremos una Identidad para tu negocio que lo hará más llamativo y de fácil recuerdo para el consumidor.")
   +boxCourse(linksUrl[1]+linksInternos[2], "assets/img/index/img_diseno_ui.png", "Ilustración de "+services[1], services[1], " Unico e impactante", "El diseño que haremos de tu página web hará que luzca muy bien, sea de fácil navegación y conecte con el usuario.")
   +boxCourse(linksUrl[1]+linksInternos[3], "assets/img/index/img_website.png", "Ilustración de "+services[2], services[2], "Carga rápida", "Programaremos el diseño de tu página web para que luzca y funcione excelente en computadores, móviles y tabletas.")