section.o-categories.-bg.-padRgTopBottom.-padBgBottom
 .m-cardContent
  .m-categoriesTitle
   h2.m-categoriesTitle__title Ciclo de Cursos en línea Respira, Posa y Enfoca
   h3.a-categoriestitle__text Disfruta de la tranquilidad que proporcionan las soluciones empresariales diseñadas para escalar y proteger Jira Software en toda la organización.
  .m-cardBox
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_identidad_corporativa.png", "Ilustración de "+services[0], services[0], "Servicios", "Conceptos. Historia. Fundamentos. Estructura de la serie. Práctica y secuencia de iniciación.")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_diseno_ui.png", "Ilustración de "+services[1], services[1], "Servicios", "Saludos al Sol y Posturas de pie. Modificaciones. Práctica y secuencia para esta fase.")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_website.png", "Ilustración de "+services[2], services[2], "Servicios", "Transiciones y Posturas de piso. Modificaciones. Práctica y secuencia para esta fase.")