section.o-categories.-bg.-padRgTopBottom.-padBgBottom
 .m-cardContent
  .m-categoriesTitle
   h2.m-categoriesTitle__title Transformación digital de tu negocio
   h3.a-categoriestitle__text Para que tu negocio exista en el mundo digital, debe contar con los tres pilares de la transformación digital, que son: la Identidad corporativa, el Diseño de página web y la Código de página web.
  .m-cardBox.m-categories
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_identidad_corporativa.png", "Ilustración de "+services[0], services[0], "Servicios", "Con la Identidad corporativa que diseñaremos para  tu negocio, haremos que su imagen sea distintiva y memorable.")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_diseno_ui.png", "Ilustración de "+services[1], services[1], "Servicios", "Hacemos diseños de páginas web únicos que impactan, de fácil navegación y que conectan con el usuario.")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_website.png", "Ilustración de "+services[2], services[2], "Servicios", "Construimos tu página web de carga rápida, con mejor posicionamiento en los buscadores y fácil de modificar.")