section.o-card.-bg.-padBgBottom
 .m-cardContent
  .m-cardTitle
   h2.m-cardTitle__title Ciclo de Cursos en línea Respira, Posa y Enfoca
   .a-problemSubtitle
    h3.a-problemSubtitle__text Disfruta de la tranquilidad que proporcionan las soluciones empresariales diseñadas para escalar y proteger Jira Software en toda la organización.
  .m-cardBox.-course
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/course/curso_01.png", "Iniciación en el Ashtanga Yoga, Yogaiskra en pose de Ashtanga", " 1", "Iniciación en el Ashtanga Yoga", "", "", "Conceptos. Historia. Fundamentos. Estructura de la serie. Práctica y secuencia de iniciación.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "-on", "")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/course/curso_02.png", "Encendiendo el fuego interno, mujer haciendo yoga", " 2", "Encendiendo el fuego interno", "", "", "Saludos al Sol y Posturas de pie. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", "")
   +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/course/curso_03.png", "Fluyendo y depurando la base, mujer haciendo yoga", " 3", "Fluyendo y depurando la base", "", "", "Transiciones y Posturas de piso. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", "")