section.o-hero.-bg
 .m-heroContent.-ContainerUniversal.-bigger
  .m-heroContent__text
   .a-heroContent__title
    h1.-center Llevamos tu negocio al mundo digital
   .a-heroContent__text
    h3.-center En un mundo cada vez más tecnológico, hacemos la transformación digital de tu negocio aumentando su exposición a nivel mundial las 24 horas/todos los días del año.

  .m-heroContent__img
   .img
    img.-hideSm(src=linksUrl[1]+"assets/img/index/doodle_hero_rev1.png", alt="")
    img.-hide.-showSm(src=linksUrl[1]+"assets/img/index/doodle_hero_xs.png", alt="")

 .a-border.-ContainerBlog
  .-borderBottom