section.o-hero.-bgGradient
 .m-heroContent.-ContainerUniversal.-mRgBottom.-bigger
  .m-heroContent__text
   .a-heroContent__title
    h1 Llevamos tu negocio al mundo digital
   .a-heroContent__text
    p.-light.-subtitle En un mundo cada vez más tecnológico, hacemos la transformación digital de tu negocio aumentando su exposición a nivel mundial las 24 horas todos los días del año.

  .m-heroContent__img
   .img
    img.-hideSm(src=linksUrl[1]+"assets/img/index/doodle_hero_rev1.png", alt="Ilustración de diseño y programación del personal de monlogo")
    img.-hide.-showSm(src=linksUrl[1]+"assets/img/index/doodle_hero_xs.png", alt="Ilustración de diseño y programación del personal de monlogo")

 .m-underline.-shapeBottom.-shapeLine
  svg(width="2560px", height="100px", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", preserveAspectRatio="none", x="0px", y="0px", viewBox="0 0 2560 100", xml:space="preserve")
   polygon(points="2560 0 2560 100 0 100")