section.o-witness.-bg.-padMdTop
 .o-textAndImg__contentLeft.-ContainerUniversal
  .m-textAndImg__img.-right
   img(src=linksUrl[1]+"assets/img/index/prointelecto_witness.png", alt="Imagen de la página web de prointelecto")
  .m-textAndImg__content.-left.-witness
   h2.a-textAndImg__title(style="position: relative; z-index: 2;") Testimonio
   .a-textAndImg__content
    p El equipo de Monlogo entendió perfectamente lo que deseábamos para la transformación de nuestra página web. Nos asesoró para que su diseño se viera realmente actualizado, elegante y de fácil navegación para el usuario, tanto en su versión de escritorio como en dispositivos portátiles.
    p Estamos muy contentos con el resultado, y seguiremos trabajando con ellos para actualizaciones futuras y nuevos proyectos, porque estamos muy satisfechos con el trato y el servicio que nos han prestado.
   h3.a-textAndImg__title.-witness Carolina Silva, Directora
   .m-textAndImg__subtitle
    .a-arrowWierd
    span.a-textAndImg__subtitleText Web multi-páginas #[a.-colorAlert.-medium(href="https://prointelecto.com/", target="_blank") prointelecto.com]

 .a-border.-ContainerBlog.-padMdTopBottom
  .-borderBottom