section.o-workWitfUs.-index.-bg.-padBgBottom
 .o-workWitfUs__content.-ContainerUniversal
  .m-workWitfUs__content
   h2.a-textAndImg__title ¿Quieres unirte a nosotros?
   .a-textAndImg__content
    p.-padSmBottom Para quienes deseen iniciarse o profundizar en la práctica de la Primera Serie del método del Ashtanga Yoga, estoy llevando mi Ciclo de 4 Cursos titulado "Respira, Posa y Enfoca" al formato en línea. 
    a.a-button.a-noMargin(href=linksUrl[1]+linksInternos[0])
     button.a-btn.-btnPrimary(type="button") #{titles[4]}

  .m-workWitfUs__cards
   .m-cardBox
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_sellers.png", "Ilustración de "+Us[0], Us[0], "Servicios", "Conceptos. Historia. Fundamentos. Estructura de la serie. Práctica y secuencia de iniciación.")
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_dev.png", "Ilustración de "+Us[1], Us[1], "Servicios", "Saludos al Sol y Posturas de pie. Modificaciones. Práctica y secuencia para esta fase.")
  