section.o-problemStory.-bg.-padBgBottom
 .o-problemStory__contentLeft.-ContainerUniversal
  .m-explainImg
   .m-cardBox.-course
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/course/curso_01.png", "Iniciación en el Ashtanga Yoga, Yogaiskra en pose de Ashtanga", " 1", "Iniciación en el Ashtanga Yoga", "", "", "Conceptos. Historia. Fundamentos. Estructura de la serie. Práctica y secuencia de iniciación.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "-on", "")
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/course/curso_02.png", "Encendiendo el fuego interno, mujer haciendo yoga", " 2", "Encendiendo el fuego interno", "", "", "Saludos al Sol y Posturas de pie. Modificaciones. Práctica y secuencia para esta fase.", "assets/img/profesora/profe_yogaiskra.png", "Yogaiskra", "", "")
  .m-explainContent
   h2.a-explainTitle Cursos en línea de Ashtanga Yoga
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Cursos soportados por donaciones
   .a-explainContent
    p Para quienes deseen iniciarse o profundizar en la práctica de la Primera Serie del método del Ashtanga Yoga, estoy llevando mi Ciclo de 4 Cursos titulado "Respira, Posa y Enfoca" al formato en línea. 
    p Estos cursos proporcionan todo el conocimiento teórico y práctico indispensable para construir de forma progresiva, coherente y segura, una práctica de posturas de yoga personal. Ya está disponible el Primer Curso: #[b.-bold  Iniciación en el Ashtanga Yoga.]
