section.o-workWitfUs.-index.-bg.-padBgBottom
 .o-workWitfUs__content.-ContainerUniversal
  .m-workWitfUs__content
   h2.a-textAndImg__title ¿Quieres unirte a nosotros?
   .a-textAndImg__content
    p Puedes ser parte del Monlogo Team de dos formas:
    p Como #[b.-bold Promotor Independiente] ubicado en cualquier parte del mundo, trabajando con nosotros a través de un área de trabajo virtual común y teniendo contacto directo con el cliente.
    p.-padSmBottom Como #[b.-bold Diseñador] y/o #[b.-bold Programador] independiente ubicado en cualquier parte del mundo, aportando tu experticia y conocimientos al desarrollo de los diferentes servicios de Monlogo.
    //- a.a-button.a-noMargin(href=linksUrl[1]+linksInternos[0])
     button.a-btn.-btnPrimary(type="button") #{titles[4]}

  .m-workWitfUs__cards
   .m-cardBox
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_sellers.png", "Ilustración de "+Us[0], Us[0], "Atención profesional", "Te capacitamos para que puedas promocionar y vender nuestros servicios, a tu tiempo, a los clientes de tu zona.")
    +boxCourse(linksUrl[1]+linksInternos[0], "assets/img/index/img_dev.png", "Ilustración de "+Us[1], Us[1], "¡Es tiempo de programar!", "Únete como Diseñador o Programador, nuestro sistema a distancia garantizará excelentes resultados de equipo.")
  