section.o-contactAndFaq.-bgWow.-padCoolTopBottom
 .m-contactAndFaq.-ContainerUniversal
  .m-contactAndFaq__content
   .a-contactAndFaq__title
    h1 Build what's next
    .a-MonlogoIconWhite
   .a-problemSubtitle
    h3.a-problemSubtitle__text Airtable Blocks give you a creative palette of app-like functionality that you can mix.
  .m-contactAndFaq__button
   a.a-button(href=linksUrl[1]+linksInternos[0])
    button.a-btn.-btnAlert(type="button") Contáctanos ahora mismo
   h3(style="padding-left: 30px; padding-right: 20px;") o
   a.a-button(href=linksUrl[1]+linksInternos[0])
    button.a-btn.-btnAlert(type="button") Preguntas más frecuentes

 .m-contactAndFaq__dec
  .a-squarePoints
  .a-squarePoints.-bottom