section.o-contactAndFaq.-bgWow.-padCoolTopBottom
 .m-cardContent
  .m-cardTitle
   h2.m-cardTitle__title Ciclo de Cursos en línea Respira, Posa y Enfoca
   .a-problemSubtitle
    h3.a-problemSubtitle__text Disfruta de la tranquilidad que proporcionan las soluciones empresariales diseñadas para escalar y proteger Jira Software en toda la organización.