section.o-contactAndFaq.-bgWow.-padCoolTopBottom
 .m-contactAndFaq.-ContainerUniversal
  .m-contactAndFaq__content
   .a-contactAndFaq__title
    h1 Contáctanos para empezar
    .a-MonlogoIconWhite
   .a-problemSubtitle
    h3.a-problemSubtitle__text Estamos atentos para responder cualquier solicitud o inquietud que tengas.
  .m-contactAndFaq__button
   a.a-button(href="mailto:"+linksExternos[1])
    button.a-btn.-btnAlert(type="button") Contáctanos ahora mismo
   h3(style="padding-left: 30px; padding-right: 20px;") o
   a.a-button(href=linksUrl[1]+linksInternos[0])
    button.a-btn.-btnAlert(type="button") Preguntas más frecuentes

 .m-contactAndFaq__dec
  .a-squarePoints
  .a-squarePoints.-bottom