//- Footer firm
.o-footerFirmDev.-content
 .justify-content-center.align-items-center.d-flex
  p Esta página fue hecha por
  a.a-button.a-noMargin(href=linksUrl[1]+linksInternos[0])
   button.a-btn.-btnSecondary.-btnMonlogo(type="button") Monlogo