include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  include base/_headstyle.pug
  +metadataCourse(titles[0]+" - Inicia tu transformación digital","Con Monlogo comienza tu transformación digital desde cero para tener una presencia solidad en la web. Contrata una identidad gráfica o diseño de páginas web ya!","https://monlogo.co/","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")

 body.o-colorIndex
  // header
  include base/_header.pug

  // hero
  include components/index/_hero.pug

  // cards
  include components/index/_cards.pug

  // About us
  include components/index/_about_us.pug

  // witness
  include components/index/_witness.pug

  // work ft us
  include components/index/_work_w_us.pug

  // contact and faq
  include components/_contact_faq.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include components/_contact_form.pug
  .-blur
 
  // footer
  include base/_footer.pug