include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head.pug
  include ../../base/_headdash.pug
  +metadataCourse("Breakpoints | "+titles[0],"Ejemplo de manual del diseño para programación de la página de inicio de Monlogo - Explicación de los Breakpoints","https://monlogo.co/monlogo/dev/breakpoints","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.-bg
  // header
  include ../../base/_header.pug

  // hero
  include ../../components/monlogo/dev/breakpoints/_breakpoints.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../../components/_contact_form.pug
  .-blur#contact2

  // footer
  include ../../base/_footer_notion.pug