include ../../lib/_var.pug
include ../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../base/_head.pug
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")
  +metadataCourse("Breakpoints | "+titles[0],"Ejemplo de manual del diseño para programación de la página de inicio de Monlogo - Explicación de los Breakpoints","https://monlogo.co/monlogo/dev/breakpoints","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.-bg
  // header
  include ../../base/_header.pug

  // hero
  include ../../components/monlogo/dev/breakpoints/_breakpoints.pug

  // footer
  include ../../base/_footer_notion.pug