//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    h1.a-text__header Breakpoints
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails Medidas de los breakpoints

  article.m-text__blog
   .m-text__section
    .m-text__div
     p Los breakpoints son variables que se definen según los anchos de los dispositivos en los que se quiere que se visualice la página web, la unidad en que se definen los breakpoints es pixeles.  Estas variables le indican a los media queries cuando realizan la adaptación del contenido del sitio web a las características y resolución de la pantalla de cada dispositivo.
     p.a-noPadding Pero si todavía no sabes cuáles son o se ha especificado antes, aquí están: 
     .-row.a-noMargin
      .-col-6
       p #[b.-medium $breakXl:] 1200px
       p #[b.-medium $breakLg:] 992px
       p #[b.-medium $breakMd:] 768px
       p #[b.-medium $breakSm:] 576px
      .-col-6
       p #[b.-medium $breakXs:] 425px
       p #[b.-medium $breakXxs:] 375px
       p #[b.-medium $breakX0:] 320px