include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headall.pug
  +metadataCourse(services[0]+" | "+titles[0],"Con Monlogo contrata una identidad gráfica para tener un logo que impacte a tus clientes","https://monlogo.co/servicios/identidad-grafica","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // hero
  include ../components/servicios/i_c/_hero.pug

  // Explian
  include ../components/servicios/i_c/_text.pug

  // Packs & service
  include ../components/servicios/i_c/_packs.pug

  // Stuff
  include ../components/servicios/i_c/_stuff.pug

  // contact and faq
  include ../components/_contact_faq.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur

  // footer
  include ../base/_footer.pug