include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headall.pug
  +metadataCourse(services[2]+" | "+titles[0],"En Monlogo programamos el diseño de tu página web en PSD a Código de manera profesional. Nuna fue tan fácil estár en la web","https://monlogo.co/servicios/programacion-web","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // hero
  include ../components/servicios/web/_hero.pug

  // Explian
  include ../components/servicios/web/_text.pug

  // Stuff
  include ../components/servicios/web/_stuff.pug
  
  // Tabs
  include ../components/servicios/web/_tabs.pug

  // Packs & service
  include ../components/servicios/web/_packs.pug

  // Stuff
  include ../components/servicios/web/_stuff_two.pug

  // contact and faq
  include ../components/_contact_faq.pug

  // contact form
  .o-contactModal
   .m-modalDialog
    .m-modal__content.-fadeInUp
     include ../components/_contact_form.pug
  .-blur

  // footer
  include ../base/_footer.pug