section.o-textManual.-bgCalm.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(linksUrl[1]+linksInternos[2]+"#imgPantallas", "↖", "Regresar")
     +textNoLinks("🌠", "Pantallas")


  article.m-text__blog
   .m-text__section
    +ImgTextContainer("", "-m-w100 -mAuto","", "", "assets/img/diseno_web/mockup_idc_002@2x.png")