section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__icon
    img.a-textManual__icon(src=linksUrl[1]+logoResponsive[1], alt="")
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(linksUrl[1]+linksInternos[2], "↖", services[1])
     +textNoLinks("🌌", "Manual diseño programación")
    h1.a-text__header Manual del diseño para programación
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails Diseño User interface


  article.m-text__blog
   .m-text__section
    .m-textContent.-gridGapXs
     .m-columnOne
      p Este es un ejemplo de Manual del Diseño para Programación de Monlogo.
      p.-padSmBottom Este Manual reúne las instrucciones para la correcta programación del diseño gráfico de las páginas que conforman el sitio web de Monlogo. Su función es orientar a los diseñadores y programadores en la construcción del sitio web del cliente para garantizar que la interfaz visual del sitio web se visualice y funcione de la forma en que fue diseñada.

     .m-columnTwo
      p Este Manual tiene dos secciones:
      ul.m-linksList
       li: a.-medium.-dFlex(href=monlogoInternos[3]) 🔧 #[b.-linksText Fundaciones y variables]
      p  Esta sección presenta y explica cómo deben ser programados para los diferentes dispositivos en que se puede visualizar el sitio web: los Breakpoint, las diferentes tipografías según su uso y dispositivo, colores, las ubicaciones de los layout y los espacios.
      ul.m-linksList.-padRgTop
       li: a.-medium.-dFlex(href=monlogoInternos[4]) 🔩 #[b.-linksText Componentes del website]
      p Esta sección presenta y explica cómo deben ser programados para los diferentes dispositivos en que se puede visualizar el sitio web los componentes del diseño gráfico de la interfaz y la metodología que Monlogo emplea para su organización, entre estos componentes están: botones, textos, imágenes, menús, hero, footer, etc.