//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[4],"🌌", "Componentes del website")
     +textNoLinks("🔧", manualNames[0])
    h1.a-text__header #{manualNames[0]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails #{atomic[0]}


  article.m-text__blog
   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Nombre
    .m-text__div
     p Se refiere al nombre que se le dará en el css y a la clase con que identificaremos cada átomo (componente).  En este caso contaremos con tres tipos de botones, sus nombres serán:
     .-row
      .-col-4
       .m-codeCss
        p .a-btn .-btnPrimary
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-primary.png")
      .-col-4
       .m-codeCss
        p .a-btn .-btnSecondary
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-secondary.png")
      .-col-4
       .m-codeCss
        p .a-btn .-btnAlert
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-alert.png")
      .-col-4
       .m-codeCss
        p .a-btn .-btnMonlogo
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-monlogo.png")
     p El botón de la firma de Monlogo es igual al botón #[b.-medium .-btnSecondary] con la diferencia de que puede variar en su separación y el tamaño de la caja.

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Descripción
    +breakpoints()
    .m-text__div
     h3.-uppercase.-italic Desktop (breakpoints Xl y Lg)
     .-row
      .-col-4
       .m-codeCss
        p .-btnPrimary
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-primary.png")
      .-col-4
       .m-codeCss
        p .-btnSecondary
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-secondary.png")
      .-col-4
       .m-codeCss
        p .-btnAlert
       +ImgTextContainer("", "-m-w50 -mAuto","", "", "assets/img/componentes/button-alert.png")
     
    .m-text__div
     h3.-uppercase.-italic Tablet y Teléfono (breakpoints Md, Sm, Xs, Xxs, X0)
     .-row
      .-col-4
       .m-codeCss
        p .-btnPrimary
       +ImgTextContainer("", "-m-w40 -mAuto","", "", "assets/img/componentes/button-primary-1.png")
      .-col-4
       .m-codeCss
        p .-btnSecondary
       +ImgTextContainer("", "-m-w40 -mAuto","", "", "assets/img/componentes/button-secondary-1.png")
      .-col-4
       .m-codeCss
        p .-btnAlert
       +ImgTextContainer("", "-m-w40 -mAuto","", "", "assets/img/componentes/button-alert-1.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Estados
    p.-mXsBottom Un átomo puede variar, de acuerdo al comportamiento o behavior que se defina para una situación específica. Los estados de un átomo indican como lucirá éste para cada situación. En este caso los estados que se manejarán serán:
    .m-text__div
     .-row
      .-col-4
       p → Default
       +ImgTextContainer("", "-m-w80 -mAuto","", "", "assets/img/componentes/button_example.png")
      .-col-4
       p → :hover
       +ImgTextContainer("", "-m-w80 -mAuto","", "", "assets/img/componentes/button_example_hover.png")
      .-col-4
       p → :active
       +ImgTextContainer("", "-m-w80 -mAuto","", "", "assets/img/componentes/button_example_active.png")
    .m-text__alert
     .a-text__alert #[span.-iconAlerts 💡]
     .m-text__warning
      p Se quiere imitar la manera en que reaccionan los botones en #[a.-colorAlert.-medium.-targetText(href="https://florencebymills.com/", target="-blank") florencebymills.com]