//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[4],"游깳", "Componentes del website")
     +textNoLinks("游댢", manualNames[1])
    h1.a-text__header #{manualNames[1]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails #{atomic[0]}


  article.m-text__blog

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Descripci칩n
    +breakpoints()
    .m-text__div
     p Los textos no tienen una clase ni nombre espec칤fico. Estas son las variaciones de tama침o y tipo de texto que hay en la p치gina.
     p Las tipograf칤as elegidas para el website son: para los headings (H1, H2, H3), para p치rrafos la tipograf칤a es #[a.-colorAlert.-medium.-targetText(href=linksfont[0], target="_blank") Hind], y para resaltar un texto o usar Italic usaremos #[a.-colorAlert.-medium.-targetText(href=linksfont[1], target="_blank") Raleway]
     h3.-uppercase.-italic Desktop (breakpoints Xl y Lg)
     .-row
      .-col-12
       +ImgTextContainer("", "-m-w75 -mAuto","", "", "assets/img/componentes/text-lg.png")

    .m-text__div
     h3.-uppercase.-italic Tablet y Tel칠fono (breakpoints Md, Sm, Xs, Xxs, X0)
     .-row
      .-col-12
       +ImgTextContainer("", "-m-w75 -mAuto","", "", "assets/img/componentes/text-md.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Estados
    .m-text__div
     p Un 치tomo puede variar, de acuerdo al comportamiento o behavior que se defina para una situaci칩n espec칤fica. Los estados de un 치tomo indican como lucir치 칠ste para cada situaci칩n. No obstante, los textos normalmente no tienen ning칰n tipo de estado, pero si pueden tener decoraciones. Para este caso ser치n:
     .-row
      .-col-4
       .m-codeCss
        p .-bold
      .-col-4
       .m-codeCss
        p .-medium
      .-col-4
       .m-codeCss
        p .-italic
