include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headdash.pug
  +metadataCourse("Acceso restringido","Acceso restringido a este usuario","https://monlogo.co/","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gr치ficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.o-colorIndex.-error
  // header
  include ../base/_header.pug

  // Hero & text
  section.o-hero.-ContainerUniversal
   .m-heroContent.-error.-mRgTop.-bigger
    .m-heroContent__img
     .-img
      .m-heroContent__imgContainer
       img(src="https://static.platzi.com/static/images/error/img404.png", alt="Ilustraci칩n de error 404")
    .m-heroContent__text.-mSmTop
     .a-heroContent__title
      h1.-colorPrimary.-textCenter Acceso restringido
     .a-heroContent__text
      h2.-light.-subtitle.-textCenter Esta secci칩n est치 restringida.

  // footer
  include ../base/_js.pug