include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")
  +metadataCourse("Acceso restringido","Acceso restringido a este usuario","https://monlogo.co/","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gráficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.o-colorIndex
  // header
  include ../base/_header.pug

  // Hero & text
   include ../components/monlogo/manual_ui/organismo/_contact-faq.pug
  h3 403

  // footer
  include ../base/_footer_notion.pug