.o-contactAndFaq {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    @include mediaQueriesXs {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.m-contactAndFaq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span, h2, h3 {
        color: $color-lightin;
    }
}

.m-contactAndFaq__content {
    max-width: 75%;
    margin-bottom: 25px;
    @include mediaQueriesMd {
        max-width: 94%;
    }
    @include mediaQueriesXs {
        max-width: 100%;
    }
}
.a-contactAndFaq__title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spaceXs;
    position: relative;
    &::before {
        display: none;
        position: absolute;
        left: $spaceMd;
        top: -55px;
        width: 100px;
        content: url('../img/recursos/work_config.svg');
    }
    .a-MonlogoIconWhite {
        margin-left: $spaceXs;
        max-width: 50px;
        object-fit: cover;
    }
    @include mediaQueriesMd {
        &::before {
            left: $spaceXs;
        }
    }
    @include mediaQueriesXs {
        &::before {
            width: $spaceBg;
            left: -$spaceXs;
        }
    }
    @include mediaQueries0 {
        flex-wrap: wrap;
    }
}

.m-contactAndFaq__button {
    display: flex;
    align-items: center;
    @include mediaQueriesMd {
        justify-content: center;
        flex-wrap: wrap;
        button {
            margin-bottom: $spaceSm;
        }
    }
    @include mediaQueriesXs {
        flex-direction: column;
        h3 {
            padding-top: $spaceXs;
            padding-bottom: $spaceSm;
        }
    }
}

.m-contactAndFaq__dec {
    .a-squarePoints {
        position: absolute;
        width: 300px;
        left: -125px;
        top: -110px;
    }
    .a-squarePoints + .a-squarePoints {
        position: absolute;
        width: 300px;
        right: -125px;
        bottom: -110px;
        left: auto;
        top: auto;
    }
    @include mediaQueriesMd {
        .a-squarePoints {
            left: -180px;
            top: -160px;
        }
        .a-squarePoints + .a-squarePoints {
            right: -190px;
            bottom: -160px;
        }
    }
    @include mediaQueriesXs {
        .a-squarePoints {
            left: -250px;
            top: -160px;
        }
        .a-squarePoints + .a-squarePoints {
            right: -190px;
            bottom: -160px;
        }
    }
}

.o-formContact {
    position: relative;
    overflow: hidden;
    max-height: inherit;
}
.m-formContact__content {
    .a-burguerOut {
        position: absolute;
        right: $spaceSm;
        top: $spaceXs;
    }
}
.m-formContact {
    width: 100%;
    margin: auto;
}
.m-form__group {
    position: relative;
    margin: $spaceRg 0 $spaceRg 0;
    input, textarea {
        background: none;
        color: $color-darkgrey;
        font-size: $fontS3;
        padding: $spaceSm $spaceXs $spaceXs calc(#{$spaceXs} / 2);
        display: block;
        width: 100%;
        border:none;
        border-bottom: 1px solid $color-darkengrey;
        resize: none;
    }
    input:focus, textarea:focus {
        outline: none;
    }
    label {
        font-size: $fontS3;
        position: absolute;
        left: 5px;
        top:10px;
        transition: 0.5s ease all;
        pointer-events: none;
    }
    input:focus~label, input:valid~label, 
    textarea:focus~label, textarea:valid~label {
        position: absolute;
        top: -$fontS3;
        font-size: $fontS2;
        color: $color-secondary;
    }
    .m-form__line {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            content: '';
            height: 2px;
            width: 0%;
            bottom: 0;
            position: absolute;
            background: linear-gradient(to right, $color-primary, $color-alert);
            transition: 0.3s ease all;
            left: 0%;
        }
    }
    input:focus~.m-form__line::before, textarea:focus~.m-form__line::before {
        width: 100%;
    }
}