.o-aboutUs, .o-witness, .o-textAndImg {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    @include mediaQueriesMd {
        padding-top: $spaceBg + 10px;
        padding-bottom: $spaceBg;
    }
}

.o-witness {
    @include mediaQueriesMd {
        padding-bottom: 0;
    }
}

.o-textAndImg {
    @include mediaQueriesMd {
        padding-top: $spaceRg;
    }
}

.o-textAndImg__content {
    &Right {
        display: grid;
        grid-template-columns: 56% auto;
        grid-gap: 0 $spaceXs;
        grid-template-areas: "problemImg problemContent";
    }
    &Left {
        display: grid;
        grid-template-columns: 53% auto;
        grid-gap: 0 $spaceXs;
        grid-template-areas: "explainContent explainImg";
    }
    @include mediaQueriesLg {
        &Right {
            grid-template-columns: 35% 1fr;
        }
        &Left {
            grid-template-columns: 1fr 35%;
        }
    }
    @include mediaQueriesMd {
        &Right {
            grid-template-columns: 80%;
            justify-content: center;
            grid-template-rows: 1fr auto;
            grid-template-areas: "problemContent" "problemImg";
        }
        &Left {
            grid-gap: $spaceRg 0;
            grid-template-columns: 80%;
            justify-content: center;
            grid-template-rows: 1fr auto;
            grid-template-areas: "explainContent" "explainImg";
        }
    }
    @include mediaQueriesXs {
        &Right {
            grid-template-columns: auto;
        }
        &Left {
            grid-template-columns: auto;
        }
    }
}

.m-textAndImg__img {
    grid-area: problemImg;
    margin: auto;
    margin-left: 0;
    max-width: 91%;
    img {
        width: 100%;
    }
    @include mediaQueriesLg {
        max-width: 100%;
    }
}

.m-textAndImg__content {
    grid-area: problemContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.-witness {
        padding-left: $spaceSm;
        position: relative;
        &::before {
            width: $spaceBg;
            position: absolute;
            // opacity: .4;
            top: $spaceXs;
            left: -$spaceSm;
            content: url('../img/icons/quote.svg');
        }
    }
    @include mediaQueriesMd {
        &.-witness {
            padding-left: 0;
            &::before {
                top: -$spaceMd;
            }
        }
        &.-padTop {
            margin-top: 25px;
        }
    }
}

.a-textAndImg__icon {
    max-width: 60px;
    margin-bottom: $spaceXs;
    img {
        width: 30px;
    }
    @include mediaQueriesMd {
        margin-bottom: $spaceSm;
    }
}

.m-textAndImg__img.-right {
    grid-area: explainImg;
    margin: auto;
    // margin-bottom: 0;
    margin-right: 0;
    max-width: 98%;
    img {
        width: 100%;
    }
    @include mediaQueriesLg {
        width: 100%;
    }
    @include mediaQueriesMd {
        width: 88%;
        margin: auto;
    }
    @include mediaQueriesSm {
        width: 100%;
    }
}

.m-textAndImg__content.-left {
    grid-area: explainContent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a-textAndImg__title {
    color: $color-primary;
    &.-witness {
        color: $color-secondary;
    }
    .-bgWow & {
        color: $color-lightin;
    }
}

.m-textAndImg__subtitle {
    display: flex;
    align-items: center;
    .a-textAndImg__subtitleText {
        font-style: italic;
        margin-left: $spaceXs;
    }
    .a-textAndImg__subtitleLine {
        margin-left: 10px;
        margin-right: 10px;
        width: 70px;
        height: 2px;
        background-color: $color-primary;
    }
    @include mediaQueriesSm {
        padding-top: 5px;
    }
    @include mediaQueriesXs {
        .a-textAndImg__subtitleLine {
            margin-top: 3px;
            margin-left: 0;
        }
        .a-textAndImg__subtitleLine.-right {
            margin-left: 10px;
        }
    }
}

.a-textAndImg__content {
    position: relative;
    padding-top: $spaceXs;
    padding-bottom: $spaceSm;
    .-top {
        margin-top: $spaceXs;
    }
    .-bgWow & p {
        color: $color-lightgrey;
    }
    p {
        padding-bottom: 10px;
    }
    @include mediaQueriesLg {
        padding-top: $spaceSm;
    }
}

.-borderRadius {
    border-radius: $spaceXs;
    box-shadow: 5px 8px 16px .5px $color-grey;
}

.o-textAndImg__dec {
    .a-squarePoints {
        position: absolute;
        width: 300px;
        left: -190px;
        top: -100px;
    }
    .a-circleLines {
        position: absolute;
        width: 230px;
        right: -$spaceBg;
        bottom: -120px;
    }
    @include mediaQueriesMd {
        .a-squarePoints {
            top: -160px;
        }
        .a-circleLines {
            width: 200px;
            right: -100px;
        }
    }
    @include mediaQueriesXs {
        .a-squarePoints {
            width: 250px;
            top: -130px;
            left: -100px;
        }
        .a-circleLines {
            width: 200px;
            right: -100px;
        }
    }
}