// Navegación y distribución de la página
.-ContainerUniversal {
    max-width: 79%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    &.-bigger {
        max-width: 98%;
    }
    @include mediaQueriesLg {
        max-width: 89.66%;
    }
    @include mediaQueriesSm {
        padding: 10px;
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

.-ContainerBlog {
    @extend .-ContainerUniversal;
    max-width: 60%;
    @include mediaQueriesMd {
        max-width: 89.66%;
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

a.-padModifier {
    padding: 6px 20px;
    @include mediaQueriesLg {
        padding: 6px 14px;
    }
    @include mediaQueries0 {
        padding: 6px 6px;
    }
}

.a-noMargin {
    margin: 0 !important;
}

section .a-noPadding {
    padding: 0;
}

section .a-paddingMd {
    padding-top: $spaceXs;
    padding-bottom: $spaceSm;
}

.-padCoolTopBottom {
    padding-top: $spaceBg + 20px;
    padding-bottom: $spaceBg + 20px;
    @include mediaQueriesMd {
        padding-top: $spaceBg;
        padding-bottom: $spaceBg;
    }
}

.-padMdTopBottom {
    padding-top: $spaceMd;
    padding-bottom: $spaceMd;
}

.-padRgTopBottom {
    padding-top: $spaceRg;
    padding-bottom: $spaceRg;
}

.-padSmTopBottom {
    padding-top: $spaceSm;
    padding-bottom: $spaceSm;
}

.-padBgBottom {
    padding-bottom: 80px;
    @include mediaQueriesMd {
        padding-bottom: $spaceMd;
    }
}

section .-padSmBottom {
    padding-bottom: $spaceSm !important;
}

.-padRgBottom {
    padding-bottom: $spaceRg;
}

.-padBgTop {
    padding-top: $spaceBg;
    @include mediaQueriesMd {
        padding-top: $spaceMd;
    }
}

.-padMdTop {
    padding-top: $spaceMd;
}

.-padRgTop {
    padding-top: $spaceRg;
}

.-containerText {
    margin-bottom: $spaceSm;
    margin-left: auto;
    margin-right: auto;
    max-width: 68.66%;
    @include mediaQueriesMd {
        max-width: 100%;
    }
}

// Display
.-dInline {
    display: inline;
}

.-alignItemsLeft {
    align-items: left !important;
}

// border y resources
.-borderBottom {
    opacity: .3;
    border-bottom: 2px solid $color-secondary;
}

// bg colors
.-bg {
    background-color: $bg;
    &Wow {
        background-color: $color-secondary;
    }
    &Calm {
        background-color: $color-calm;
    }
}

// Display Show & Hide
.-hide {
    display: none;
}
.-hideSm {
    @include mediaQueriesSm {
        display: none;
    }
}
.-showMd {
    @include mediaQueriesMd {
        display: block;
    }
}
.-showSm {
    @include mediaQueriesSm {
        display: block;
    }
}