// Navegación y distribución de la página
.-ContainerUniversal {
    max-width: 79%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    &.-bigger {
        max-width: 98%;
    }
    @include mediaQueriesLg {
        max-width: 89.66%;
    }
    @include mediaQueriesSm {
        padding: 10px;
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

.-ContainerBlog {
    @extend .-ContainerUniversal;
    max-width: 60%;
    @include mediaQueriesLg {
        max-width: 69.66%;
    }
    @include mediaQueriesMd {
        max-width: 89.66%;
    }
    @include mediaQueries0 {
        padding: 0;
        max-width: 86%;
    }
}

a.-padModifier {
    padding: 6px 20px;
    @include mediaQueriesLg {
        padding: 6px 14px;
    }
    @include mediaQueries0 {
        padding: 6px 6px;
    }
}

// Margin & Padding Modifiers
.-mAuto {
    margin: auto;
}
.-mAutoRL {
    margin-left: auto !important;
    margin-right: auto !important;
}
.-mAutoLeft {
    margin-left: auto;
}
.-mAutoRight {
    margin-right: auto;
    margin-left: $spaceXs;
}
.-mXsTop {
    margin-top: $spaceXs;
}
.-mSmTop {
    margin-top: $spaceSm;
}
.-mXsBottom {
    margin-bottom: $spaceXs;
}


.a-noMargin {
    margin: 0 !important;
}

section .a-noPadding {
    padding: 0 ;
}

section .a-paddingMd {
    padding-top: $spaceXs;
    padding-bottom: $spaceSm;
}

.-padCoolTopBottom {
    padding-top: $spaceBg + 20px;
    padding-bottom: $spaceBg + 20px;
    @include mediaQueriesMd {
        padding-top: $spaceBg;
        padding-bottom: $spaceBg;
    }
}

.-padMdTopBottom {
    padding-top: $spaceMd;
    padding-bottom: $spaceMd;
}

.-padRgTopBottom {
    padding-top: $spaceRg;
    padding-bottom: $spaceRg;
}

.-padSmTopBottom {
    padding-top: $spaceSm;
    padding-bottom: $spaceSm;
}

.-padBgBottom {
    padding-bottom: 80px;
    @include mediaQueriesMd {
        padding-bottom: $spaceMd;
    }
}

section .-padSmBottom, .-padSmBottom {
    padding-bottom: $spaceSm !important;
}

.-padXsBottom {
    padding-bottom: $spaceXs;
}

.-padRgBottom {
    padding-bottom: $spaceRg;
}

.-padBgTop {
    padding-top: $spaceBg;
    @include mediaQueriesMd {
        padding-top: $spaceMd;
    }
}

.-padMdTop {
    padding-top: $spaceMd;
}

.-padRgTop {
    padding-top: $spaceRg;
}
.-padSmTop {
    padding-top: $spaceSm;
}

.-padXsTop {
    padding-top: $spaceXs;
}

.-containerText {
    margin-bottom: $spaceSm;
    margin-left: auto;
    margin-right: auto;
    max-width: 68.66%;
    @include mediaQueriesMd {
        max-width: 100%;
    }
}

// Display
.-dInline {
    display: inline;
}

.-alignItemsLeft {
    align-items: left !important;
}

// border y resources
.-borderBottom {
    opacity: .3;
    border-bottom: 2px solid $color-secondary;
}

// bg colors
.-bg {
    background-color: $bg;
    &Wow {
        background-color: $color-secondary;
    }
    &Calm {
        background-color: $color-calm;
    }
    &Gradient {
        background: linear-gradient(120deg, $color-alert 0%, $color-calm 100%);
    }
}

// Display Show & Hide
.-hide {
    display: none;
}
.-hideSm {
    @include mediaQueriesSm {
        display: none;
    }
}
.-showMd {
    @include mediaQueriesMd {
        display: block;
    }
}
.-showSm {
    @include mediaQueriesSm {
        display: block;
    }
}

.-dFlex {
    display: flex;
}
.-jCFlexEnd {
    justify-content: flex-end;
}
.-jCCenter {
    justify-content: center;
}

// max-width
.-m-wAu {
    max-width: auto;
}
.-m-w30 {
    max-width: 30%;
}
.-m-w40 {
    max-width: 40%;
}
.-m-w50 {
    max-width: 50%;
}
.-m-w60 {
    max-width: 60%;
}
.-m-w75 {
    max-width: 75%;
}
.-m-w80 {
    max-width: 80%;
}
.-m-w90 {
    max-width: 90%;
}
.-m-w100 {
    max-width: 100%;
}

.-w100 {
    width: 100%;
}
.-w80 {
    width: 80%;
}
.-w60 {
    width: 60%;
}
.-w50 {
    width: 50%;
}
.-w30 {
    width: 30%;
}

// Grid
.-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spaceSm;
    margin-bottom: $spaceSm;
    .-col-1 {
        width: 8.3333333333%;
    }
    .-col-2 {
        width: 16.6666666666%;
    }
    .-col-3 {
        width: 24.9999999999%;
    }
    .-col-4 {
        width: 33.3333333332%;
    }
    .-col-5 {
        width: 41.6666666665%;
    }
    .-col-6 {
        width: 49.9999999998%;
    }
    .-col-7 {
        width: 58.3333333331%;
    }
    .-col-8 {
        width: 66.6666666664%;
    }
    .-col-9 {
        width: 74.9999999997%;
    }
    .-col-10 {
        width: 83.3333333333%;
    }
    .-col-11 {
        width: 91.6666666663%;
    }
    .-col-12 {
        width: 100%;
    }
    .-col-1, .-col-2, .-col-3, .-col-4, .-col-5, .-col-6,
    .-col-7, .-col-8, .-col-9, .-col-10, .-col-11, .-col-12 {
        padding: $spaceSm;
    }
    @include mediaQueriesSm {
        .-col-1, .-col-2, .-col-3, .-col-4, .-col-5, .-col-6,
        .-col-7, .-col-8, .-col-9, .-col-10, .-col-11, .-col-12 {
            width: 100%;
            padding: $spaceXs;
        }
    }
}