//- text
section.o-textManual.-bg.-padBgBottom
 .m-textManual.-ContainerBlog
  .m-textManual__title
   .m-text__customer
    .m-text__linksBack.-mXsBottom
     +textLinksBack(monlogoInternos[4],"🌌", "Componentes del website")
     +textNoLinks("🔧", manualNames[6])
    h1.a-text__header #{manualNames[6]}
    .m-text__details
     .a-arrowWierd
     h3.a-text__textDetails #{atomic[2]}


  article.m-text__blog
   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Nombre
    .m-text__div
     p Se refiere al nombre que se le dará en el css y a la clase con que identificaremos cada organismo (o bloque). Para este organismo será:
     .-row.a-noMargin
      .-col-12.-dFlex.-jCCenter
       .m-codeCss
        p .o-categories

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Descripción
    +breakpoints()
    .m-text__div
     h3.-uppercase.-italic Desktop (breakpoints Xl y Lg)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -LgImg -mAuto","", "", "assets/img/componentes/cards-service.png")

    .m-text__div
     h3.-uppercase.-italic Tablet (breakpoints Md, Sm)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -LgImg -mAuto","", "", "assets/img/componentes/cards-service-1.png")
    
    .m-text__div
     h3.-uppercase.-italic Teléfono (breakpoints Xs, Xxs, X0)
     .-row
      .-col-12
       +ImgTextContainer("", "-dFlex -jCCenter -XsImg -mAuto","", "", "assets/img/componentes/cards-service-2.png")

   .m-text__section
    .m-text__sectionHeader
     .m-text__sectionHeaderText
      h3.a-text__title.-uppercase.-italic Behavior
    .m-text__div
     p Las animaciones de este organismo serán:
     ul.m-listContent.-check.a-noPadding
       li: p #[b.-regular.-colorAlert FadeInUp →] Esta animación ocurrirá al inicio cuando cargue la página, aplicada por separado al título y subtitulo juntos, y cada caja por separado con su propio FadeInUp.
    .m-text__alert
     .a-text__alert #[span.-iconAlerts 💡]
     .m-text__warning
      p Puedes conseguir esta animación en la siguiente página: #[a.-colorAlert.-medium.-targetText(href="https://animate.style/", target="-blank") animate.style]