include ../../../lib/_var.pug
include ../../../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../../../base/_head.pug
  link(rel="stylesheet", href=linksUrl[1]+"assets/css/dashboard.css")
  +metadataCourse(manualNames[3]+" | "+atomic[1]+" | "+titles[0],"Ejemplo de manual del dise침o para programaci칩n de la p치gina de inicio de Monlogo - Componente: img right - texto left","https://monlogo.co/monlogo/moleculas/texts-img-lr","website","https://monlogo.co/assets/img/banner/banner.png","Logo de Monlogo con fondo azul rodeado de elementos gr치ficos del website")
  meta(name="googlebot-news", content="nosnippet")
  meta(name="googlebot", content="noindex")

 body.o-colorIndex
  // header
  include ../../../base/_header.pug

  // Hero & text
  include ../../../components/monlogo/manual_ui/moleculas/_texts-img-lr.pug

  // footer
  include ../../../base/_footer_notion.pug