
-var titles = ["Monlogo", "Nosotros", "Servicios", "Preguntas Frecuentes", "Contactar", "Unirse"]

-var linksUrl = ["/", "/"]
-var linksInternos = ["index.html", "servicios/identidad-corporativa.html", "servicios/diseno-paginas-web.html", "servicios/programacion-web.html"]
-var linksExternos = ["https://instagram.com/monlogoteam", "team@monlogo.co"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"imagotipo_rgb.png", logoImg+"isotipo_favicon.svg", logoImg+"isotipo_white_rgb.png"]

//- Cosas de la p치gina
-var Us = ["Promotores", "Desarrolladores"]
-var services = ["Identidad Corporativa", "Dise침o de p치ginas web", "Programaci칩n web"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Construida por"]
-var monlogoInternos = [linksUrl[1]+"monlogo/manual-de-identidad-corporativa.html", linksUrl[1]+"monlogo/manual-diseno-ui.html", linksUrl[1]+"monlogo/home.html"]
