//- Poner .html cuando vayas ver 'preview' en tu localhost en noHtml,
//- Quitarlo antes de subirlo al hosting
-var noHtml = ""
-var cssV = "?v=1.3.10"
 
-var titles = ["Monlogo", "Nosotros", "Servicios", "Preguntas Frecuentes", "Contactar", "Unirse"]

//- Poner /home/dist/ cuando vayas ver 'preview' en tu localhost en linksUrl
//- Quitarlo antes de subirlo al hosting
-var linksUrl = ["/", "/"]
-var linksInternos = ["index"+noHtml, "servicios/identidad-grafica"+noHtml, "servicios/diseno-paginas-web"+noHtml, "servicios/programacion-web"+noHtml]
-var linksExternos = ["https://instagram.com/monlogoteam", "team@monlogo.co"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"imagotipo_rgb.png", logoImg+"isotipo_rgb.png", logoImg+"isotipo_white_rgb.png"]

//- Cosas de la página
-var Us = ["Promotores", "Desarrolladores"]
-var services = ["Identidad Gráfica", "Diseño de páginas web", "Programación web"]

//- Monlogo
-var monlogo = ["https://prointelecto.com", "© 2020 - 2021 Monlogo, una división de servicios de "]
-var monlogoInternos = [linksUrl[1]+"monlogo/manual-de-identidad-grafica"+noHtml, linksUrl[1]+"monlogo/manual-diseno-ui"+noHtml, linksUrl[1]+"monlogo/home"+noHtml, linksUrl[1]+"monlogo/foundation-y-var"+noHtml, linksUrl[1]+"monlogo/component"+noHtml, linksUrl[1]+"monlogo/atomos/buttons"+noHtml,linksUrl[1]+"monlogo/atomos/texts"+noHtml,linksUrl[1]+"monlogo/moleculas/cards"+noHtml,linksUrl[1]+"monlogo/moleculas/texts-img-lr"+noHtml,linksUrl[1]+"monlogo/moleculas/texts-img-rl"+noHtml,linksUrl[1]+"monlogo/organismos/menu"+noHtml,linksUrl[1]+"monlogo/organismos/servicios"+noHtml,linksUrl[1]+"monlogo/organismos/hero-index"+noHtml,linksUrl[1]+"monlogo/organismos/about-us"+noHtml,linksUrl[1]+"monlogo/organismos/witness"+noHtml,linksUrl[1]+"monlogo/organismos/info-work"+noHtml,linksUrl[1]+"monlogo/organismos/contact-faq"+noHtml,linksUrl[1]+"monlogo/organismos/footer"+noHtml,linksUrl[1]+"monlogo/landing"+noHtml]
-var manualNames = ["Botones","Textos","Cards","Texto left - img/box right","Img/box left - texto right","Menú","Servicios","Hero","About us","Witness","Work with us","Contact","Faq","Footer"]
-var atomic = ["Átomos", "Moléculas","Organismos","Páginas"]
-var pageName = ["Index"]

-var linksDev = [linksUrl[1]+"monlogo/dev/breakpoints"+noHtml,"http://dev.monlogo.co/media-queries/breakpoints/breakpoints"+noHtml]