
-var titles = ["Monlogo", "Nosotros", "Servicios", "Preguntas Frecuentes", "Contactar", "Unirse"]

-var linksUrl = ["/", "/"]
-var linksInternos = ["index.html", "servicios/identidad-corporativa.html"]
-var linksExternos = ["https://instagram.com/monlogoteam", "team@monlogo.co"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"imagotipo_monlogo_color.png", logoImg+"isotipo_monlogo_rgb.png", logoImg+"isotipo_monlogo_w.png"]

//- Cosas de la p치gina
-var Us = ["Promotores", "Desarrolladores"]
-var services = ["Identidad Corporativa", "Dise침o de p치ginas web", "Programaci칩n web"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Construida por"]