
-var titles = ["Monlogo", "Nosotros", "Servicios", "Preguntas Frecuentes", "Contactar", "Enjoy us!"]

-var linksUrl = ["/", "/home/dist/"]
-var linksInternos = ["index.html"]
-var linksExternos = ["https://instagram.com/monlogoteam"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"imagotipo_monlogo_color.png", logoImg+"isotipo_monlogo_rgb.png", logoImg+"isotipo_monlogo_w.png"]

//- Cosas de la página
-var Us = ["Promotores", "Programadores"]
-var services = ["Identidad Corporativa", "Diseño de interfaz de usuario", "Páginas web"]