-var noHtml = ""

-var titles = ["Monlogo", "Nosotros", "Servicios", "Preguntas Frecuentes", "Contactar", "Unirse"]

-var linksUrl = ["/", "/"]
-var linksInternos = ["index"+noHtml, "servicios/identidad-grafica"+noHtml, "servicios/diseno-paginas-web"+noHtml, "servicios/programacion-web"+noHtml]
-var linksExternos = ["https://instagram.com/monlogoteam", "team@monlogo.co"]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"imagotipo_rgb.png", logoImg+"isotipo_favicon.svg", logoImg+"isotipo_white_rgb.png"]

//- Cosas de la página
-var Us = ["Promotores", "Desarrolladores"]
-var services = ["Identidad Gráfica", "Diseño de páginas web", "Programación web"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Construida por"]
-var monlogoInternos = [linksUrl[1]+"monlogo/manual-de-identidad-grafica"+noHtml, linksUrl[1]+"monlogo/manual-diseno-ui"+noHtml, linksUrl[1]+"monlogo/home"+noHtml, linksUrl[1]+"monlogo/manual-ui/foundation-y-var"+noHtml, linksUrl[1]+"monlogo/manual-ui/component"+noHtml, linksUrl[1]+"monlogo/manual-ui/atomos/buttons"+noHtml,linksUrl[1]+"monlogo/manual-ui/atomos/texts"+noHtml,linksUrl[1]+"monlogo/manual-ui/moleculas/cards"+noHtml,linksUrl[1]+"monlogo/manual-ui/moleculas/texts-img-lr"+noHtml,linksUrl[1]+"monlogo/manual-ui/moleculas/texts-img-rl"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/menu"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/servicios"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/hero-index"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/about-us"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/witness"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/info-work"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/contact-faq"+noHtml,linksUrl[1]+"monlogo/manual-ui/organismos/footer"+noHtml,linksUrl[1]+"monlogo/landing"+noHtml]
-var manualNames = ["Botones","Textos","Cards","Texto left - img/box right","Img/box left - texto right","Menú","Servicios","Hero","About us","Witness","Work with us","Contact","Faq","Footer"]
-var atomic = ["Átomos", "Moléculas","Organismos","Páginas"]
-var pageName = ["Index"]

-var linksDev = [linksUrl[1]+"monlogo/dev/breakpoints"+noHtml,"http://dev.monlogo.co/media-queries/breakpoints/breakpoints"+noHtml]